<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RyanSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RyanSync.Properties.Settings>
            <setting name="RyanServer" serializeAs="String">
                <value>http://bittwiddlers.org/ryan/</value>
            </setting>
            <setting name="DigitalFrameLabel" serializeAs="String">
                <value>NIX</value>
            </setting>
            <setting name="DigitalFrameSubdirectory" serializeAs="String">
                <value>NIX Internal Memory   (Copy all Media Files here)</value>
            </setting>
        </RyanSync.Properties.Settings>
    </userSettings>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="8" />
		</connectionManagement>
	</system.net>
</configuration>